<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Idade:</strong>
  <%= @user.age %>
</p>

<p>
  <strong>Idade:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Idade:</strong>
  <%= @user.auth_token %>
</p>
<%= link_to 'Back', users_path %>
